/*==================Default values===========================
  font-family : Roboto Condensed 

  Code couleurs : 
  #34C6D3 : boutons , icons ,links,lines & background
  #41464B : Heading <h1> jusqu'a <h6>
  #64707B : paragraphes
  #FFF : texte avec un background noir 
  #000 : il est toujours présent 
===============================================================*/


body{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
  padding: 0px;
}

*{
  box-sizing: border-box;
}

/*Home-Section*/

 #cover{
  background-image:url(/img/18084.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}


#LOGO{
  width: 60px;
  

}
#nv1{
  background-color: white !important;
}

.Title    {
  color: #b2dffb;
  font-size: 250%;
  margin-top: 200px;
  
 
}

p {
  margin-top: 40px;
  
  font-size: 130%; 
  color: black;
  font-family: 'Roboto Condensed', sans-serif;

}
  
.btn-general{
  color: rgb(253, 247, 247);
  font-size: 16;
  text-decoration: none;
  padding: 15px 20px;
  background: rgb(14, 13, 13);
  border-radius: 2px;
  margin-left: 20px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;

}
.btn-white:hover{
  background-color: #b2dffb

}

.Heading{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
}
 /*service*/


 #services{
   padding-top: 3%;
   font-family: 'Roboto Condensed', sans-serif;
 }

.Title2{
  
  font-family: 'Roboto Condensed', sans-serif;
  color: black;

  
}
.Br {
  width: 200px;
  height: 4px;
  margin-left: 41%;
  background-color: #b2dffb;
  
}


.col-md-4 {

  padding-top: 5%;
}

.fa-inverse{
  background-color: #b2dffb;
  border-radius: 50%;
  
}

.service-heading{
  padding-top: 9%;
}